<p id="notice"><%= notice %></p>

<h5 class="col-sm-8 col-sm-offset-2">
  <%= @link.title %> by <%= @link.user.name %>
</h5>

<p class="col-sm-8 col-sm-offset-2">
  <%= @link.body %>
</p>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2 sed">
    <p><%= button_to 'Vote', new_vote_path, :class => "btn btn-primary", :method => :get %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2 sed">
    <%= link_to 'Edit', edit_link_path(@link) %> |
    <%= link_to 'Back', links_path %>
  </div>
</div>
