<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @link.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.name %>
</p>

<p><%= link_to 'Vote', new_vote_path %></p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
