<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-sm-8 col-sm-offset-4">
    <%= f.label :upvote %><br>
    <%= f.number_field :upvote %>
  </div>
  <div class="field col-sm-8 col-sm-offset-4">
    <%= f.label :downvote %><br>
    <%= f.number_field :downvote %>
  </div>
  <div class="field col-sm-8 col-sm-offset-4">
    <%= f.label :link_id, "Which link do you want to vote for?" %><br>
    <%= f.select :link_id, @all_links %>
  </div>
  <div class="actions col-sm-2 col-sm-offset-4 submit">
    <%= f.submit "submit", class: "btn btn-primary" %>
  </div>
<% end %>
