<p id="notice"><%= notice %></p>

<p>
  <strong>Upvote:</strong>
  <%= @vote.upvote %>
</p>

<p>
  <strong>Downvote:</strong>
  <%= @vote.downvote %>
</p>

<p>
  <strong>Link:</strong>
  <%= @vote.link.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user.name %>
</p>

<p><%= link_to 'Vote for this Link', new_vote_path %></p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
